<ul>
    <li class="tree-item" data-node-id='{{id}}' data-node-title='{{title}}'>
        <span class="glyphicon glyphicon-plus tree-item__icon" aria-hidden="true"></span>
        {{title}}
    </li>
</ul>

